fastapi
sqlalchemy==1.3.22
sqlalchemy_utils==0.36.8
pytest
requests
databases
aiosqlite
ormar
tortoise-orm
asynctest

async-generator; python_version=='3.6'
async-exit-stack; python_version=='3.6'


# linting
flake8
flake8-black
flake8-bugbear
flake8-import-order
flake8-bandit
flake8-annotations
flake8-builtins
flake8-variables-names
flake8-cognitive-complexity
flake8-functions
flake8-expression-complexity

# typing
mypy
