fastapi
async-generator; python_version=='3.6'
async-exit-stack; python_version=='3.6'

# Backends
ormar
tortoise-orm
databases
aiosqlite
sqlalchemy==1.3.22
sqlalchemy_utils==0.36.8
gino-starlette==0.1.1

# Testing
pytest
pytest-virtualenv
requests
asynctest
psycopg2
pyodbc

# Linting
flake8
flake8-black
flake8-bugbear
flake8-import-order
flake8-bandit
flake8-annotations
flake8-builtins
flake8-variables-names
flake8-functions
flake8-expression-complexity

# Typing
mypy==0.910
