:root {
  /*--md-primary-fg-color:        #3d3393;*/
  /*--md-primary-fg-color--light: #3d3393;*/
  /*--md-primary-fg-color--dark:  #3d3393;*/
}

header {
 /* https://webgradients.com/ - 142 Space Shift */
 background-image: linear-gradient(60deg, #3d3393 0%, #2b76b9 37%, #2cacd1 65%, #35eb93 100%);
}

/* Sidebar */
@media screen and (max-width: 76.1875em) {
 .md-nav__title {
   background-image: linear-gradient(60deg, #3d3393 0%, #2b76b9 37%, #2cacd1 65%, #35eb93 100%);
 }

 .md-nav--primary .md-nav__title {
  color: white;
 }
}

@media screen and (min-width: 60em) {
  .md-nav__title[for="__toc"] {
    background-image: None !important;
  }
}

a.announce:link, a.announce:visited {
  color: #fff;
}

a.announce:hover {
  color: var(--md-accent-fg-color);
}

h2.releases {
    margin-bottom: 0;
}

h2.releases + p {
    margin-top: 0;
}

